@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.4/css/bootstrap-dialog.css');
@import url('http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css');
@import url('http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css');
@import url('https://vitalets.github.io/x-editable/assets/select2/select2.css');
@import url('https://vitalets.github.io/x-editable/assets/select2/select2-bootstrap.css');
table th{
  padding: 10px;
}

#customer{
  margin-top: -25px !important;
}

.ml10 {
  margin-left: 10px;
}
